@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: oklch(97.7% 0.014 308.299);
  transition:
    background-color 300ms,
    color 300ms;
}
.dark body {
  background-color: #020617;
}
#root {
  width: 100%;
}
